.action-panel {
  display: flex;
  align-items: center;
  top: 50px;
  left: -93px;
  text-align: left;
  background: #eee;
  padding: 0 10px;
  border-radius: 50px;
}
.action-panel > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.size {
  margin-top: 20px;
}

.size input {
  color: #000;
}

.products {
  margin-top: 20px;
}
