@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
  }
}

.canvas-wrapper {
  width: 100vw;
  height: 100vh;
}

.canvas-upper-text {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 2vh;
  color: rgba(255, 255, 255, 0.7);
}

canvas {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}
.flex > * {
  flex: 1;
}
.gap-20 {
  gap: 20px;
}
